body {
  background-image: url('../images/red_jeans.png');
  background-size: cover;
}

div#about {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: rgba(30, 3, 8,0.9);
}

p#about {
  font-family: 'Dr Sugiyama', cursive;
  font-size: 70px;
  color: white;
}

p {
  font-family: 'Vollkorn', serif;
  font-size: 16px;
  color: white;
}

div#contact {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: rgba(0,0,0,0.9);
}

p#contact {
  font-family: 'Dr Sugiyama', cursive;
  font-size: 50px;
  color: white;
}
