body {
  background-image: url('../images/about.jpg');
  background-size: cover;
}

div#about {
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: white;
  color: black;
}

div#contact {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: rgba(0,0,0,0.8);
  font-family: 'Vollkorn', serif;
  font-size: 16px;
  color: white;
}

p#contact {
  font-family: 'Dr Sugiyama', cursive;
  font-size: 50px;
  color: white;
}

.btn {
  background: rgb(153, 18, 29);
  color: white;
}
