body {
  background: url('../images/background.jpg') no-repeat center fixed;
  background-size: cover;
  color: white;
}

.title {
  font-family: 'Dr Sugiyama', cursive;
  font-size: 120px;
  padding-top: 200px;
}

.subtitle {
  font-family: 'Vollkorn', serif;
  font-size: 30px;
  padding-bottom: 200px;
}

div#Monika_Pun {
  -webkit-animation-name: Monika_Pun; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
  animation-name: Monika_Pun;
  animation-duration: 3s;
}

@keyframes Monika_Pun {
  from{opacity: 0;}
  to {opacity: 1;}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes Monika_Pun {
  from{opacity: 0;}
  to {opacity: 1;}
}

/* Firefox < 16 */
@-moz-keyframes Monika_Pun {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes Monika_Pun {
    from { opacity: 0; }
    to   { opacity: 1; }
}
