@-webkit-keyframes background {
  from{background-color: black;}
  to {background-color: red;}
}

@keyframes background {
  from{background-color: black;}
  to {background-color: red;}
}

body {
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-animation-name: background; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 10s; /* Safari 4.0 - 8.0 */
  animation-name: background;
  animation-duration: 10s;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 15;
}

ul {
      padding: 20px;
      background: rgba(0,0,0,0);
      font-size: 15;
      font-family: 'Open Sans Condensed', sans-serif;
    }

li {
      display: inline;
      padding: 5px 10px 0px 10px;
    }
