/* Add a dark background color with a little bit see-through */
.navbar {
    margin-bottom: 0;
    background-color: rgba(0,0,0,0.8);
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
}

/* Add a black color to all navbar links */
.navbar li a, .navbar {
    color: rgb (0,0,0); !important;
    font-family:'Vollkorn', serif;
}

.navbar-brand {
  font-family: 'Dr Sugiyama', cursive;
  color: rbg (0,0,0);
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
    color: rbg (0,0,0) !important;
}

/* The active link */
.navbar-nav li.active a {
    color: rbg (0,0,0) !important;
    background-color:#29292c !important;
}

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
    border-color: transparent;
}
